{% load static %}
{%load filtros %}

<!DOCTYPE html>
<html lang="pt">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/main/css.css' %}">
    <title>{{imagem.titulo}}</title>
  </head>
<body>
<br>
<br>
<div style="width:40%" class="container">
    <img class="img" src="/media/{{imagem.imagem}}">
    <hr>
    <h2>{{imagem.titulo}}</h2>
    <hr>
    <h2>{{imagem.descricao}}</h2>
    <hr>
    <h2>{{imagem.data|converte_data}}</h2>
</div>

</body>
</html>